name: CD Test
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build from'
        required: false
        default: 'develop'
        type: string

jobs:
  test-build-backend:
    uses: ArkeonProject/organization-tools/.github/workflows/reusable-docker-build.yml@v1.1.5
    with:
      image_name: ${{ github.repository }}/backend
      mode: 'milestone'
      branch: ${{ inputs.branch || 'develop' }}
      dockerfile_path: './backend/Dockerfile'
      context: './backend'

  test-build-frontend:
    uses: ArkeonProject/organization-tools/.github/workflows/reusable-docker-build.yml@v1.1.5
    with:
      image_name: ${{ github.repository }}/frontend
      mode: 'milestone'
      branch: ${{ inputs.branch || 'develop' }}
      dockerfile_path: './frontend/Dockerfile'
      context: './frontend'
