name: Deploy
on:
  push:
    branches: [main]

jobs:
  deploy:
    uses: ArkeonProject/organization-tools/.github/workflows/cd-python-docker.yml@main
    with:
      image_name: "arkeon-music-downloader"
    secrets:
      ghcr_token: ${{ secrets.GITHUB_TOKEN }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
